@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColor: #374151;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--textColor));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.bg-win {
  background-color: rgb(217 249 157);
}
.bg-new {
  background-color: rgb(165 243 252);
}
.bg-pending {
  background-color: rgb(196 181 253);
}
.bg-in_progress {
  background-color: rgb(255 228 230);
}
.bg-fail {
  background-color: rgb(254 249 195);
}
.bg-cancel {
  background-color: rgb(214 211 209);
}
